package ${javaMapperPackage};

import ${domainType};
import ${superMapper};
import org.apache.ibatis.annotations.Mapper;

@Mapper
public interface   ${util.getClassName(${javaMapperType})}   extends  ${util.getClassName(${superMapper})}<${domainName} , ${primaryKeyTypeShortName}> {

}