package ${servicePackage};

import ${domainType};
import ${superService};
/**
 * ${tableComment} 服务类
 *
 * @author
 * @date ${date}
 */

public interface ${domainName}Service  extends   ${util.getClassName(${superService})}<${domainName} , ${primaryKeyTypeShortName}> {


}

