package ${servicePackage}.impl;

import ${domainType};
import ${javaMapperType};
import ${supperServiceImpl};
import ${superMapper};
import ${servicePackage}.${domainName}Service;
import org.springframework.stereotype.Service;
import org.springframework.beans.factory.annotation.Autowired;

/**
 * $!{tableComment} 服务实现类
 *
 * @author
 * @date ${date}
 */
@Service(value = "${util.firstToLowerCase( ${util.concat(${domainName} ,"ServiceImpl" )} )}")
public class ${domainName}ServiceImpl extends  ${util.getClassName(${supperServiceImpl})}<${domainName} , ${primaryKeyTypeShortName}> implements ${domainName}Service{


       @Autowired
       private  ${util.getClassName(${javaMapperType})}   ${util.firstToLowerCase(${util.getClassName(${javaMapperType})})};


        @Override
        public  BaseMapper<${domainName} , ${primaryKeyTypeShortName}> getMapper(){
              return ${util.firstToLowerCase(${util.getClassName(${javaMapperType})})};
        }


}
